@model MvcProject.Models.Entity.Musteriler
@{
    ViewBag.Title = "MusteriAdd";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(m => m.MusteriAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusteriAd, "", new { @style = "color:red;" })

    </div>
    <div>
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" name="MusteriSoyad" />
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-info" id="btnAdd">Müşteri Ekle</button>
    </div>
</form>

<script>
    $('#btnAdd').click(function () {
        alert("Müşteri Ekleme İşlemi Yapıldı...");
    });
</script>

