@{
    ViewBag.Title = "About";
}

<br />
<form  method="get">
    <fieldset>
        <label>Film Türü Seçiniz</label>
        <select class="form-control">
            <option value="0">Aksiyon</option>
            <option value="1">Drama</option>
            <option value="2">Komedi</option>
        </select>
         
    </fieldset>
</form>

